.Rproj.user
.Rhistory
.RData
.Ruserdata

__pycache__/

drugscreenT24cocktailAvjunctr_singlechannelTIF/

drugscreenT24cocktailBjunctr_singlechannelTIF/

drugscreenT4cocktailAvjunctr_singlechannelTIF/

MIPsdrugscreenT12cocktailA_MIPs_forOMERO/

drugscreenT4cocktailBjunctr_singlechannelTIF/

MIPsdrugscreenT12cocktailB_MIPs_forOMERO/

MIPsdrugscreenT4cocktailAretry_MIPs_forOMERO/

MIPsdrugscreenT4cocktailB_MIPs_forOMERO/
